             <p><h2> “You can't wait for inspiration. You have to go after it with a club.” — Jack London</h2>

            Every day we chance upon interesting and useful artefacts in our daily lives that we hope to keep in mind and pull out later for use in the various spheres of our lives. Too often, these little nuggets of gold get lost in the flurry of thoughts and ideas that occupy our minds. The magic satchel is an attempt to put pen to paper (albeit, virtually) so that you have a library of gems to explore over time.
            </p>