<% provide(:title, "Choose your path") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
 <body>
<div><%= link_to "Open your bag", pages_filter_path %></div>
<div><%= link_to "Add to your collection", root_path %></div>
  </div>
</body>
</html>