<% provide(:title, "Open your bag") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

  <div>
    <ul>
    <li><%= link_to "View all", root_path %></li>
    <li>Filter:</li>
    <li>Add in filter form here</li>
  </ul>
  </div>

    
</body>
</html>