<% provide(:title, "Projects") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<h1>Projects</h1>


  <% @projects.each do |project| %>

<p><%= link_to project.name, project %><br />
<small><%= project.created_at %></small></p>

<% end %>



<h1>+</h1>

<%= render partial: 'form', locals: { project: @project } %>

<%= render partial: 'texts/form', locals: { text: @text } %>

</body>
</html>