<% provide(:title, "Projects") %>
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
<h1>Projects</h1>

<ul>
  <% @projects.each do |project| %>

<li><%= link_to project.name, project %></li>

<% end %>
</ul>


<h1>+</h1>

<%= render partial: 'form', locals: { project: @project } %>

<%= render partial: 'texts/form', locals: { text: @text } %>

</body>
</html>