<% provide(:title, "Projects") %>

<div class="row">

<table class="u-full-width">

  <thead>
    <tr>
      <th>PROJECT TITLE</th>
      <th>DATE CREATED</th>
      <th>STATUS</th>
    </tr>
  </thead>

  <tbody>
<% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><%= project.created_at.strftime("%d %b %Y") %></td>
      <td>project status</td>
    </tr>
<% end %>
  </tbody>
</table>


</div>


<%= render partial: 'form', locals: { project: @project } %>


<%= render partial: 'texts/form', locals: { text: @text } %>

